# Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
SHORT_URL_BASE=Server Base URL Here
# Prisma / NestJS
DATABASE_URL=postgresql:
# Authentication
SALT_ROUND=13
JWT_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_EXPIRES_IN=